### Intro Variables

In [ ]:
price= 900

In [ ]:
print(price)

In [ ]:
print("The price of the mobile is $", price, sep="")

In [ ]:
rent=1220

In [ ]:
gas=567

In [ ]:
groceries=300

In [ ]:
print(gas)

In [ ]:
total=rent+gas+groceries

In [ ]:
print(total)

In [ ]:
brand="apple"

In [ ]:
print("The mobile brand is",brand)

In [ ]:
type(brand)

In [ ]:
type(price)

In [ ]:
bill=price+price

In [ ]:
print("The bill amount is $",bill,sep="")

In [ ]:
price=800

In [ ]:
discount=15

In [ ]:
price_after_discount= price-discount

In [ ]:
print("The Price after discount is $",price_after_discount,sep="")

In [ ]:
bill=1800

In [ ]:
price=900

In [ ]:
# No of item
x=bill//price

In [ ]:
print("The customer buy",x,"items")

### Type Conversion

In [ ]:
brand="apple"

In [ ]:
ram=4

In [ ]:
print(brand,ram,"GB")

In [ ]:
print(brand+ram+"GB")

In [ ]:
print(brand+" "+str(ram)+"GB")

### Numbers

In [ ]:
2+2

In [ ]:
5-4

In [ ]:
4*4

In [ ]:
11%2 # To get reminder

In [ ]:
3**3 # Power

In [ ]:
2**4

In [ ]:
Total_distance=435

In [ ]:
mph=65

In [ ]:
time=Total_distance/mph

In [ ]:
time

In [ ]:
round(time,2)

In [ ]:
round(time)

In [ ]:
10+3*2 #BODMAS

### String

In [ ]:
text="ice cream"

In [ ]:
text[0]

In [ ]:
text[0:3]

In [ ]:
text[4:9]

In [ ]:
text[4:]

In [ ]:
x="hello"

In [ ]:
x

In [ ]:
x="let's learn python"

In [ ]:
x

In [ ]:
adress="""Velekkat house
Panamukku
Thrissur
kerala"""

In [ ]:
adress

In [ ]:
s1= "helllo"

In [ ]:
s2="world"

In [ ]:
s1+s2

In [ ]:
s1+" "+s2

### Data Structure

### List

In [ ]:
brand_list =["Apple","Samsung","LG","Apple"]
ram_list=[4,12,8,8]
storage_list=[128,128,64,128]
price_list=[900,899,600,1000]

In [ ]:
type(brand_list)

In [ ]:
print("Brand list : ",brand_list)
print("RAM list : ",ram_list)
print("Storage list : ",storage_list)
print("Price list : ",price_list)

In [ ]:
len(brand_list)

In [ ]:
min_price=min(price_list)
max_price=max(price_list)

In [ ]:
print("The maximum price is $"+str(max_price))

In [ ]:
print("The minimum price is $ "+str(min_price))

In [ ]:
print(ram_list[3])

In [ ]:
price_list[0:3]

In [ ]:
storage_list[-1]

In [ ]:
storage_list.pop(2)

In [ ]:
storage_list

In [ ]:
brand_list.append("Motorola")

In [ ]:
brand_list

In [ ]:
brand_list[3]="Motorola"

In [ ]:
brand_list

In [ ]:
brand_list[3]="Apple"

In [ ]:
brand_list

In [ ]:
brand_list.append("LG")

In [ ]:
brand_list

In [ ]:
brand_list[1]="LG"

In [ ]:
brand_list

### Tuple

In [ ]:
storage=(32,64,128,256)

In [ ]:
print(storage)

In [ ]:
type(storage)

In [ ]:
storage[1]

In [ ]:
storage[0:3]

In [ ]:
storage[-1]

### Dictionary

In [ ]:
attributes={
    "brand":"apple",
     "storage":32,
    "ram":12}

In [ ]:
attributes

In [ ]:
attributes["brand"]

In [ ]:
attributes["price"]=900

In [ ]:
attributes

### For loop

In [ ]:
# print 1 to 10 (Range Function)
for i in range (1,11):
    print(i)

In [ ]:
for i in range (1,11):
 print(i*i)

In [ ]:
exp=[2340,2450,3100,2860,3000]
total=0
for i in exp:
    total=total + i
print(total)

In [ ]:
exp=[2340,2450,3100,2860,3000]
total=0
for i in exp:
    total=total+i
print(total)

In [ ]:
### print 1 to 10 using for loop

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
for i in range (1,11):
    print(i*i)

In [ ]:
len(exp)

In [ ]:
total = 0
for i in range(len(exp)):
    print("Month:", i+1, "Expenses:", exp[i])
    total = total+exp[i]
print(total)

In [ ]:
key_place="chair"
locations=["garage","living room","study room","chair","closet"]
for i in locations:
    if i == "chair":
        print("The key is found in",i)
        break
    else:
        print("The key is not found in",i)

In [ ]:
# print square of 1 to 5 numbers except even numbers

In [ ]:
for i in range(1,7):
    if i%2==0:
        continue
    print(i*i)

### Functions

In [ ]:
def addition(a,b):
    total = a+b
    return total
addition(4,3)

In [ ]:
# Check whether x is even or odd

In [ ]:
def even_or_odd(n):
    if n%2==0:
        print("even")
    else:
        print("odd")
even_or_odd(3)
even_or_odd(4)

In [ ]:
def square_value(n):
    x=n*n
    return x
square_value(2)

#### Creating a Function in Python

In [ ]:
def function():
    print("WElcome to my home")
function()

#### Arguments
Information can be passed into functions as arguments.

Arguments are specified after the function name, inside the parentheses. You can add as many arguments as you want, just separate them with a comma.

The following example has a function with one argument (fname). When the function is called, we pass along a first name, which is used inside the function to print the full name:

In [ ]:
def my_function(fnname):
    print(fnname," ","Refences")
my_function("Rose")
my_function("Merry")
my_function("catherin")

### If statement

In [ ]:
num=input("Enter a number: ")
num=int(num)
if num % 2==0:
    print("Number is even")
else:
    print("Number is odd")

In [ ]:
indian=["samosa","daal","naan"]
chinese=["egg role","pot sticker","fried rice"]
italian =["pizza","pasta","risotto"]
dish = input("Enter your favorite dish: ")
if dish in indian:
    print("The dish is indian")
elif dish in chinese:
    print("The dish is chinese")
elif dish in italian:
    print("The dish is italian")
else:
    print("Based on little knowlwedge we dont know which cuisine is this")

### Find 2nd maximum from list

In [58]:
number_list=[5,8,19,19,20,20]
number_list.sort(reverse=True)
list_length=len(number_list)
for i in range(0,list_length):
    if number_list[i]== number_list[i+1]:
        continue
    else:
        print(number_list[i+1])
        break

19

### Calculator

In [ ]:
def cal_sum(a,b):
    added = a+b
    return(added)
    
def cal_sub(a,b):
    sub = a-b
    return(sub)
    
def cal_multi(a,b):
    multi =a*b
    return(multi) 
    
def cal_div(a,b):
    div =a/b
    return(div)

a=int(input("Enter the value of a"))
b=int(input("Enter the value of b"))

print("Enter option")
print("press 1 for sum")
print("press 2 for sub")
print("press 3 for multi")
print("press 4 for div")

option = int(input("Your option"))

if option == 1:
    print("Your sum is: ", cal_sum(a,b))
elif option == 2:
    print("Your sub is: ", cal_sub(a,b))
elif option == 3:
    print("Your multiplication is: ", cal_multi(a,b))
elif option == 4:
    print("Your division is: ", cal_div(a,b))
else:
    print("Invalid Option")

### While loop

In [ ]:
i=0

In [ ]:
n=int(input())
while n>0:
    print("#")
    n=n-1

In [ ]:
while i<list_length:
    if number_list[i]== number_list[i+1]:
        i=i+1
        continue
    else:
        print(number_list[i+1])
        break

In [ ]:
n=int(input())
i=1
total=0
while i<=n:
    if n<=10:
        total=total+i
        i=i+1
    else:
        print("Can not do this calculation")
        break
print(total)

### Find the factorial

In [ ]:
n=int(input())
if n==0 or n>100:
    print('Can not find factorial')
else:
    i=1
    total=1
    while i<=n:
        total=i*total
        i=i+1
    print(total)

### Fibonacci series

In [ ]:
def fibonacci(n):
    num1=0
    num2=1
    next_num=num1+num2
    i=1
    print("Fibonacci series is")
    print(num1, end=" ")
    print(num2, end=" ")

    while i<=n:
        print(next_num,end=" ")
        num1,num2 = num2, next_num
        next_num=num1 + num2
        i+=1
    print("End of function")

k= int(input())

if k<1:
    print("Can not find the fibonacci series")
else:
    fibonacci(k) 
print("The End")

### Python Program to Check Prime Number

In [ ]:
num = int(input())
flag=False
if num == 1:
    print(num,"is not a prime number")
else:
    for i in range(2,num):
        if num%i==0:
            flag=True
            break
    if flag==True:
        print(num,"is not a prime number")
    else:
        print(num, "is a prime number")

In [ ]:
num=int(input())
flag=False
if num==1:
    print(num,"is not a prime number")
else:
    for i in range(2,num):
        if num%i==0:
            flag=True
            break
    if flag==True:
        print(num, "is not a prime prime number")
    else:
        print(num, "is a prime number")

In [ ]:
num = int(input())
flag=False
if num==1:
    print(num,"is not a prime number")
else:
    for i in range(2,num):
        if num%i==0:
            flag= True
            break
    if flag== True:
        print(num,"is not a prime number")
    else:
        print(num, "is a prime number")

In [2]:
n=int(input())
num1=0
num2=1
next_num=num1+num2
print("The Fibonacci series is:")
print(num1,end=" ")
print(num2,end=" ")
for i in range(3,n+1):
    print(next_num,end=" ")
    num1=num2
    num2=next_num
    next_num=num1+num2

5
The Fibonacci series is:
0 1 1 2 3

In [ ]:
n=int(input())
num1=0
num2=1
next_num=num1+num2
print("The fibonacci series is:")
print(num1,end=" ")
print(num2,end=" ")
print(next_num, end=" ")
for i in range(3,n):
    num1=num2
    num2=next_num
    next_num=num1+num2
    print(next_num,end=" ")

In [ ]:
for i in  range(1,11):
    print(i)

In [ ]:
i=1
while i<=10:
    
    i=i+1
    print(i)

### Fibonacci series

In [1]:
n=int(input())
print("The Fibonacci series is:")
print(num1,end=" ")
print(num2,end=" ")
print(next_num,end=" ")
for i in range (4,n+1):
    num1=num2
    num2=next_num
    next_num=num1+num2
    print(next_num,end=" ")

5
The Fibonacci series is:

NameError: name 'num1' is not defined

### Prime Number

In [5]:
n=int(input())
flag=False
i=2
while i<n:
    if n%i==0:
        flag=True
        break
    i=i+1
if flag==True:
    print(n,"is not a prime number")
else:
    print(n,"is a prime number")

11
11 is a prime number

### Counting Vowels in a Given Word

In [11]:
vowel=["a","e","i","o","u"]
word= "anaswara"
count=0
for i in word:
    if i in vowel:
        count=count+1
print(count)

4

In [13]:
vowel=["a","e","i","o","u"]
word= "anaswararthjk"
count=0
for i in word:
    if i not in vowel:
        count=count+1
print(count)

9

### Finding the Maximum Number in a List

In [15]:
numberList = [15, 85, 35, 89, 125]
max_num=numberList[0]
for number in numberList:
    if max_num<number:
        max_num=number
print(max_num)

125

### Finding the Minimum Number in a List

In [17]:
numberList = [15, 85, 14, 89, 125]
min_number=numberList[0]
for number in numberList:
    if number<min_number:
        min_number=number
print(min_number)

14

### Finding the Middle Element in a List

In [25]:
numList = [1, 2, 3, 4, 5]
mid_element=int(len(numList)/2)
print(numList[mid_element])

3

In [38]:
'abcd'[::-1]

'dcba'

### Checking for Palindrome Using Extended Slicing Technique

In [40]:
str1="kayak".lower()
str2="kayak".lower()
if str1==str2[::-1]:
    print("True")
else:
    print("False")

True

### Converting a List into a String

In [43]:
lst=["P","Y","T","H","O","N"]
STR="".join(lst)
print(STR)

PYTHON

### Adding Two List Elements Together

In [47]:
lst1=[1,2,3]
lst2=[5,6,7]
length=len(lst1)
res_lst=[]
for i in range(0,length):
    res_lst.append(lst1[i]+lst2[i])
print(res_lst)

[6, 8, 10]

### Counting the White Spaces in a String

In [48]:
string = "P r ogramm in g "
print()

5

### Building a Pyramid in Python

In [1]:
rows=int(input())
for i in range(0,rows):
    for j in range(0,i+1):
        print("*",end=" ")
    print()

5
*
* *
* * *
* * * *
* * * * *

### find the factorial

In [1]:
n=int(input())
i=1
total=1
while i<=n:
    total=total*i
    i=i+1
print(total)

5
120

In [8]:
string1= "malayalam"
if string1==string1[::-1]:
    print(True)
else:
    print(False)

True

In [26]:
string1="malayalam"
rev=""
i=-1
while(i>=-9):
    rev = rev + string1[i]
    i = i-1
if string1==rev:
    print(True)
else:
    print(False)

True

In [36]:
string1="malay4alam"
max_index=len(string1)-1

for i in range(0,len(string1)):
    if string1[i]==string1[max_index-i]:
       print(True)
    else:
        print(False)

True
True
True
True
False
False
True
True
True
True

In [40]:
string1="malayalam"
max_index=len(string1)-1
flag=True
for i in range(0,len(string1)):
    if string1[i]!=string1[max_index-i]:
        flag=False
        break
if flag==False:
    print("it is not a Palindrome")
else:
    print("It is a palindrome")

It is a palindrome

In [45]:
string="malay1alam"
max_index=len(string)-1
Flag=False
for i in range(0,len(string)):
    if string[i]==string[max_index-i]:
        flag=True
        continue
    else:
        flag=False
        break
if flag==True:
    print("It is a Palindrome")
else:
    print("Not a paliondrome")

Not a paliondrome

In [48]:
lst=[12,13,14,15,16]
lst.sort(reverse=True)

In [49]:
lst

[16, 15, 14, 13, 12]

In [51]:
lst[1]

15

In [64]:
Friend="Akhil"

In [65]:
Friend[0]

'A'

In [63]:
Friends

['Akhil TN', 'Anaswara', 'Anu', 'Achu']

In [80]:
count={}
Friends=['Akhil TN', 'Anaswara', 'Anu', 'Achu','Anaswara', 'Anu', 'Achu','Anu', 'Achu']
for friend in Friends:
    if friend in count:
        count[friend]=count[friend]+1
    else:
        count[friend]=1
print(count)

{'Akhil TN': 1, 'Anaswara': 2, 'Anu': 3, 'Achu': 3}

In [81]:
count={}
Friends=['Akhil TN', 'Anaswara', 'Anu', 'Achu','Anaswara', 'Anu', 'Achu','Anu', 'Achu']
for friend in Friends:
    current_value=count.get(friend,0)
    current_value=current_value+1
    count[friend]=current_value
print(count)

{'Akhil TN': 1, 'Anaswara': 2, 'Anu': 3, 'Achu': 3}

In [83]:
numbers=[12,23,15,17,19]
rev_list=[]
for i in range(len(numbers)-1,-1,-1):
    rev_list.append(numbers[i])
rev_list

[19, 17, 15, 23, 12]